# node_modulesを除外
node_modules

# ログファイルを除外
npm-debug.log
yarn-debug.log
yarn-error.log

# 環境変数ファイルを除外
.env

# Git関連のファイルを除外
.git
.gitignore

# Docker関連のファイルを除外
Dockerfile
.dockerignore

# ビルド成果物を除外
/build
/dist

# その他の不要なファイルやディレクトリを除外
.DS_Store